<?xml version="1.0" encoding="UTF-8"?>
<policyconfig>

  <action id="4org.example.invalid1">
    <description>foo</description>
    <message>bar</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep_always</allow_active>
    </defaults>
  </action>

</policyconfig>
