/* -*- mode: js; js-indent-level: 4; indent-tabs-mode: nil -*- */

/* see test/polkitbackend/test-polkitbackendjsauthority.c */

polkit.addRule(function(action, subject, details) {
    if (action == "net.company.order0") {
        polkit.log("blabla");
        details["test_detail"] = "d";
        return "yes";
    }
});

polkit.addRule(function(action, subject, details) {
    if (action == "net.company.order1") {
        details["test_detail"] = "d";
        return "yes";
    }
});

polkit.addRule(function(action, subject, details) {
    if (action == "net.company.order2") {
        details["test_detail"] = "d";
        return "yes";
    }
});
