/* -*- mode: js; js-indent-level: 4; indent-tabs-mode: nil -*- */

/* see test/polkitbackend/test-polkitbackendjsauthority.c */

polkit.addRule(function(action, subject) {
    if (action.id == "net.company.order0") {
        return "no"; // earlier rule should win
    }
});

polkit.addRule(function(action, subject) {
    if (action.id == "net.company.order1") {
        return "no"; // earlier rule should win
    }
});

polkit.addRule(function(action, subject) {
    if (action.id == "net.company.order2") {
        return "no"; // earlier rule should win
    }
});
