/INSTALL
/autom4te.cache
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/depcomp
/gtk-doc.make
/install-sh
/ltmain.sh
/missing
/po/Makefile.in.in
/test/mocklibc/aclocal.m4
/test/mocklibc/autom4te.cache
/test/mocklibc/config.guess
/test/mocklibc/config.h.in
/test/mocklibc/config.sub
/test/mocklibc/configure
/test/mocklibc/depcomp
/test/mocklibc/install-sh
/test/mocklibc/ltmain.sh
/test/mocklibc/missing
Makefile.in
*~