/* -*- mode: js; js-indent-level: 4; indent-tabs-mode: nil -*- */

/* see test/polkitbackend/test-polkitbackendjsauthority.c */

/* NOTE: this is the /etc/polkit-1/rules.d version of 10-testing.rules */

polkit.addAdminRule(function(action, subject, details) {
    if (action == "net.company.action1") {
        return ["unix-group:admin"];
    }
});

polkit.addAdminRule(function(action, subject, details) {
    if (action == "net.company.action2") {
        return ["unix-group:users"];
    }
});

// Fallback
polkit.addAdminRule(function(action, subject, details) {
    return ["unix-group:admin", "unix-user:root"];
});

// -----

polkit.addRule(function(action, subject, details) {
    if (action == "net.company.productA.action0") {
        return "auth_admin";
    }
});

polkit.addRule(function(action, subject, details) {
    if (action == "net.company.productA.action1") {
        return "auth_self";
    }
});

polkit.addRule(function(action, subject, details) {
    if (action == "net.company.order0") {
        details["test_detail"] = "a";
        return "yes";
    }
});

// ---------------------------------------------------------------------
// group membership

polkit.addRule(function(action, subject, details) {
    if (action == "net.company.group.only_group_users") {
        if (subject.isInGroup("users"))
            return "yes";
        else
            return "no";
    }
});
